@model Northwind.MvcWebUI.Models.ProductViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <ul>
            @foreach (var product in Model.Products)
            {
            <h3>@product.ProductName</h3>
            <h3>@product.UnitPrice</h3>
            }
        </ul>
        <div class="pager">
            @Html.Pager(Model.PagingInfo)
        </div>
    </div>
</body>
</html>
